<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <h1>Categories</h1>
    <% @categories.each do |cat| %>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown_<%= cat.id %>" data-bs-toggle="dropdown" >
          <%= cat.name %>
        </button>
        <ul class="dropdown-menu">
          <% cat.books.each do |book| %>
            <li><%= link_to book.name, book_path(book), :class => "dropdown-item" %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <br>
  
  <%= link_to 'New Category', new_category_path %>
  </div>
  <div class="col-md-4">
    <h1>Technologies</h1>

  </div>
  <div class="col-md-4">
    <h1>Documents</h1>

  </div>
  </div>


