<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <h1>Categories</h1>
    <% @categories.each do |cat| %>
      <div class="accordion accordion-flush" id="accordion_flush_<%= cat.id %>">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= cat.id %>" aria-expanded="false" aria-controls="flush-collapse-<%= cat.id %>">
              <%= cat.name %>
            </button>
          </h2>
          <div id="flush-collapse-<%= cat.id %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <% cat.books.each do |book| %>
                  <li><%= link_to book.name, book_path(book), :class => "dropdown-item" %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  
  <br>
  
  <%= link_to 'New Category', new_category_path %>
  </div>
  <div class="col-md-4">
    <h1>Technologies</h1>
    <input id="search_input" type="text" placeholder="search..." >
    <ul id="books_list">
      <% @books.each do |book| %>
        <li><%= link_to book.name, book_path(book) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <h1>Documents</h1>

  </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#search_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#books_list li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>